nav {
   height: 70px;
   line-height: 70px;
   border: 1px  solid green;
 }

 nav ul {
    list-style: none;
    width: 100%;
    border: 1px solid red;
     text-align: right: e;
 }

nav ul li {
  display: inline-block;
  font-size: 60%;
  margin-right: 0;
  background: black;
 
 }  
